@mixin flexCenter($direction, $justify) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: center;
	width: 100%;
}

@mixin blocks($height, $background) {
	width: 100%;
	height: $height;
	left: 0px;
	top: 0px;
	background: $background;
}

@mixin layout-grid() {
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5rem;
}
