@import 'variables';
@import 'mixins';

.rooms {
	max-width: 94%;
	@include layout-grid();
	gap: 3rem;
	margin-bottom: 2rem;

	@media all and (max-width: 1000px) {
		grid-template-columns: 100%;
	}

	@media all and (max-width: 450px) {
		grid-auto-columns: auto;
	}

	.stay-wrapper-main {
		@include flexCenter(row, center);
		align-items: flex-start;

		@media all and (max-width: 450px) {
			display: flex;
			flex-direction: column;
		}
	}

	.room-container {
		margin-left: 1rem;
		max-width: 110px;
		display: flex;
		flex-direction: column;
		align-items: initial;

		h5 {
			margin-top: 1px;
			font-size: 15px;

			@media all and (max-width: 450px) {
				margin-top: 2rem;
				width: 20rem;
			}
		}
	}
}

.buttons-container {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h5 {
		margin-top: 1px;
		font-size: 15px;
	}

	@media all and (max-width: 800px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.roomtype-text {
	margin: 2rem;
	width: 150px;
}

.roomtype-wrapper-main {
	margin: 4rem;
	margin-right: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;

	@media all and (max-width: 800px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
}

.roomtype-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	@media all and (max-width: 800px) {
		@include flexCenter(column, left);
	}
}

.booking-main-wrapper {
	@include flexCenter(row, space-between);
	margin: 0;
	img {
		margin-right: 20px;
	}

	@media all and (max-width: 900px) {
		@include flexCenter(column, space-between);
		h2 {
			text-align: center;
		}

		@media all and (max-width: 500px) {
			img {
				display: none;
			}
		}
	}
}
