@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Color Palette
$pureBlack: #000;
$elfGreen: #0c251f;
$magicBlack: #2b2319;
$eggshellBlue: #00c2ba;
$skyyBlue: #08f7fe;
$bermudaBlue: #88c5c3;
$goldPink: #f2d4ae;
$ecroWhite: #d3cfc3;
$alabaster: #f3f2ee;
$pureWhite: #fff;

// Typography
$primaryFont: 'Roboto', 'Nunito Sans', sans-serif;
$secondaryFont: 'Nunito Sans', 'Roboto', sans-serif;

$boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$buttonRadius: 9px;
